#navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
      }
      #navbar ul{
          margin-right: 600px;
      }
   #first-jumbo {
    text-align: center;
    background-color: aqua;
   }
   .jumbotron p{
    text-align: center;
   }
   body  {
    height: 100%;
    font-family: cursive;
    background-color: lightskyblue;
}
.black{
    color: #fff;
    background-color: purple;
}
.col{
    float: left;
    width: 20%;
}
.menu{    
    width:100%;
    height:400px;
    padding-bottom: 10%;

}

.flex-container{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}
.menu article{
    height:120%;
    width:30%;
    background-color: white;
    margin: 20px auto ;
    padding-bottom: 50px;
}
.ar{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
.responsive{
    width: 100%;
    height: 250px;
    margin: 0 auto;
} 